.episode {
    width: 45%;
    /*align-self: center;*/
    /*justify-content: center;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #f4f4f4;
    border-radius: 0.5rem;
    margin: 0.75rem auto;
    padding-bottom: 0.75rem;
}

.episodeName {
    font-weight: bold;
}
.image {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .episode {
        width: 100%;
    }
}

