.location {
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    display: flex;
    overflow: hidden;
    background: #f4f4f4;
    border-radius: 0.5rem;
    margin: 0.75rem;
}

.locationName {

}