.linksContainer {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
/*@media screen and (max-width: 700px) {*/
/*    .linksContainer {*/
/*        width: 100%;*/
/*    }*/
/*}*/
.pagination {
    margin-left: -2.5em;
}
.link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.7em;
    color: #128a44;
    box-sizing: border-box;
    padding: 0.3em 0.7em;
    width: min-content;
    text-align: center;
    cursor: pointer;
}
.link:hover {
    color: #000000;
    background-color: #f1ff70;
}
.active {
    color: #000000;
    background-color: #f1ff70;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1052px) {
    .list {
        justify-content: center;
    }
}
@media screen and (max-width: 420px) {
    .link {
        font-size: 0.7em;
    }
}

